:root {
	--green: hsl(134, 100%, 50%);
	--yellow: hsl(41, 100%, 50%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	min-height: 100vh;
	padding: 1rem;

	background: #136a8a; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#267871,
		#136a8a
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #267871, #136a8a);

	color: white;
}

header {
	margin-bottom: 3rem;
	text-align: center;
}

h1 {
	font-size: clamp(2rem, 1rem + 4vw, 10rem);

	width: max-content;
	margin: 0 auto;
	position: relative;
}

h1::before,
h1::after {
	content: '';
	position: absolute;

	min-width: clamp(2rem, 2.5rem + 3vw, 10rem);
	min-height: clamp(2rem, 2.5rem + 3vw, 10rem);
	aspect-ratio: 1;

	background-size: contain; /* cover? */
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(./assets/pedal_bike_white_48dp.svg);
}

h1::before {
	left: calc(clamp(2rem, 2.5rem + 3vw, 10rem) * -1.1);
	transform: rotateY(180deg);
}

h1::after {
	right: calc(clamp(2rem, 2.5rem + 3vw, 10rem) * -1.1);
}

.subtitle {
	font-size: 1.2rem;
	color: hsl(0 0% 90%);
	margin-bottom: 2rem;
}

button {
	display: block;

	margin: 0 auto;
	margin-bottom: 1rem;
	padding: 0.75rem 1rem;

	min-width: 15em;

	font-size: 1rem;
	text-transform: capitalize;

	border: none;

	user-select: none;
	cursor: pointer;
}

button:hover,
button:focus-visible {
	outline: 2px solid white;
	outline-offset: 2px;
}

.inline-block {
	display: inline-block;
	margin: 1rem 0 2rem 0;
	outline: 2px solid white;
	outline-offset: 0.5rem;
}

.submit {
	background-color: var(--green);
	margin-bottom: 0;
}

.submit:hover,
.submit:focus-visible {
	outline: 2px solid var(--green);
}

#remove-bike-btn {
	background-color: var(--yellow);
}

#remove-bike-btn:hover,
#remove-bike-btn:focus-visible {
	outline: 2px solid var(--yellow);
}

label {
	display: inline-block;
	min-width: 13em;
	text-align: left;
	margin-bottom: 0.3rem;
}

.hidden {
	display: none;
}

input[type='text'] {
	display: block;
	margin: 0 auto;

	max-width: 13em;
	font-size: 1rem;

	/* border: none; */

	padding: 0.3rem;
	margin-bottom: 0.5rem;
}

input[type='text']:last-of-type {
	margin-bottom: 1.5rem;
}

.submit {
	min-width: 13rem;
}

main {
	margin: 0 auto;
	max-width: 1200px;
	/* outline: 2px solid red;
	outline-offset: 0.5rem; */
}

.category {
	margin-bottom: 3rem;
}

.hr {
	height: 1px;
	background-color: hsl(0 0% 60%);
	margin-bottom: 2rem;
}

h2 {
	text-align: center;
	font-weight: 400;

	padding-top: 1rem;
	margin-bottom: 1rem;
}

.prices {
	margin-bottom: 0.3rem;
}

.container-images {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding-bottom: 1rem;
}

.bike-wrapper {
	/* flex: 1 1 0; */
	display: flex;
	flex-flow: column nowrap;
	gap: 0.3rem;
}

img {
	max-width: clamp(250px, 250px + 10vw, 400px);
	aspect-ratio: 4/3;
}
