:root {
	--background-clr: hsl(213, 38%, 25%);
	--background-clr-light: hsl(213, 38%, 35%);

	--green: hsl(134, 100%, 50%);
	--dark-green: hsl(134, 100%, 25%);
	--blue: hsl(203 100% 50%);
	--yellow: hsl(56, 70%, 50%);
	--orange: hsl(25, 100%, 50%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

:focus {
	outline: none;
}

body {
	min-height: 100vh;
	padding: 1rem;

	background-color: var(--background-clr);
	color: white;
}

.flex-row-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin-bottom: 0.5rem;
}

header {
	margin-bottom: 3rem;
	text-align: center;
}

h1 {
	font-size: clamp(2rem, 1rem + 4vw, 10rem);

	width: max-content;
	margin: 0 auto;
	position: relative;
}

h1::before,
h1::after {
	content: '';
	position: absolute;

	min-width: clamp(2rem, 2.5rem + 3vw, 10rem);
	min-height: clamp(2rem, 2.5rem + 3vw, 10rem);
	aspect-ratio: 1;

	background-size: contain; /* cover? */
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(./assets/pedal_bike_white_48dp.svg);
}

h1::before {
	left: calc(clamp(2rem, 2.5rem + 3vw, 10rem) * -1.1);
	transform: rotateY(180deg);
}

h1::after {
	right: calc(clamp(2rem, 2.5rem + 3vw, 10rem) * -1.1);
}

.subtitle {
	font-size: 1.2rem;
	color: hsl(0 0% 90%);
	margin-bottom: 2rem;
}

.btn {
	display: block;

	margin: 0 auto;
	margin-bottom: 1rem;
	padding: 0.75rem 1rem;

	min-width: 15em;

	font-size: 1rem;
	text-transform: capitalize;

	border: none;

	user-select: none;
	cursor: pointer;
}

.btn:hover,
.btn:focus-visible {
	outline: 2px solid white;
	outline-offset: 2px;
}

.form {
	display: inline-block;
	padding: 1rem;
	background-color: var(--background-clr-light);
	/* border: 2px solid white; */
}

.form > * {
	display: block;
	margin-bottom: 1rem;
}

ol {
	text-align: left;
	padding-left: 1.2rem;
}

li {
	margin-bottom: 0.2rem;
}

.form > *:last-child {
	margin-bottom: 0;
}

.btn--cart {
	width: 100%;
}

/* .btn--add-to-cart {
	background-color: var(--green);
}

.btn--add-to-cart:hover,
.btn--add-to-cart:focus-visible {
	outline: 2px solid var(--green);
}

.btn--empty-cart {
	background-color: var(--yellow);
}

.btn--empty-cart:hover,
.btn--empty-cart:focus-visible {
	outline: 2px solid var(--yellow);
} */

.form select {
	margin-bottom: 0.5rem;
}

.form .hr {
	margin-bottom: 0.5rem;
}

.btn--checkout {
	margin: 0;
}
/* 
label {
	display: inline-block;
	min-width: 13em;
	text-align: left;
	margin-bottom: 0.3rem;
} */

.hidden {
	display: none;
}
/* 
input[type='text'] {
	display: block;
	margin: 0 auto;

	max-width: 13em;
	font-size: 1rem;

	padding: 0.3rem;
	margin-bottom: 0.5rem;
}

input[type='text']:last-of-type {
	margin-bottom: 1.5rem;
} */

main {
	margin: 0 auto;
	max-width: 1200px;
}

.category {
	margin-bottom: 3rem;
}

.hr {
	height: 1px;
	background-color: hsl(0 0% 60%);
	margin-bottom: 2rem;
}

h2 {
	text-align: center;
	font-weight: 400;

	padding-top: 1rem;
	margin-bottom: 1rem;
}

h3 {
	padding-top: 0.75rem;
	margin-bottom: 0.75rem;
}

#p--empty-cart {
	padding: 0.3rem;
	margin-bottom: 0.5rem;
	background-color: var(--orange);
}

.prices {
	margin-bottom: 0.3rem;
}

.container-images {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding-bottom: 1rem;
}

.bike-wrapper {
	/* flex: 1 1 0; */
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5rem;
	margin-bottom: 0.5rem;

	position: relative;

	/* if it is a button */
	border: none;
	appearance: none;
	color: white;
	background: unset;
	font-size: 1rem;

	cursor: pointer;
}

.bike-wrapper::before,
.bike-wrapper::after {
	content: '';
	display: none;
	position: absolute;

	outline: 2px solid hsl(0 0% 100% / 0.3);
}

.bike-wrapper::before {
	inset: 0;
	outline-offset: 2px;
}

.bike-wrapper::after {
	outline-color: white;
	top: 10px;
	left: 10px;
	height: 20px;
	aspect-ratio: 1;
	border-radius: 200px;
}

.bike-wrapper:hover::before,
.bike-wrapper:hover::after,
.bike-wrapper:focus-visible::before,
.bike-wrapper:focus-visible::after {
	display: inline-block;
}

.selected::after {
	--bkgr-clr-after: var(--dark-green);

	content: '\2713'; /* check(✅) symbol */
	display: inline-block;
	color: white;
	background-color: var(--bkgr-clr-after);

	animation: boxShadowCheckEffect 300ms ease;
}

@keyframes boxShadowCheckEffect {
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

img {
	max-width: clamp(250px, 250px + 10vw, 400px);
	aspect-ratio: 4/3;
}

select {
	position: relative;
	font-size: 0.9rem;
	padding: 0.2em 0.4em;
	border-radius: 0;
	border: none;
}

select:focus-visible {
	outline: 2px solid white;
	outline-offset: 2px;
}

/* select::before {
	content: 'Choose number of bikes';
	position: absolute;
	left: 0;
} */

footer {
	text-align: center;
}

footer p {
	margin-bottom: 0.5rem;
}

a {
	color: var(--orange);
}

a:focus-visible {
	outline: 2px solid white;
	outline-offset: 2px;
}
